_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.idea
node_modules

github.token

\#jekyll-theme-hydejack/*/pro
\#jekyll-theme-hydejack/*/*/pro
\#jekyll-theme-hydejack/*/*/*/pro

\#jekyll-theme-hydejack/node_modules